{% extends 'base.html' %}
{% load static %}

{% block title %}Tus Eventos{% endblock %}

{% block contenido  %}
<div class="wrapper2 p10">
    <div class="inicio">
        <img src="{% static 'img/1.PNG.png' %}" alt="Logo tus eventos"/>
    </div>
    <div >
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="{{message.tags}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p id="mensaje">{{ message }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if  user.is_authenticated %}
        <div class="modal fade" id="elminarModal" tabindex="-1" role="dialog" aria-labelledby="elminarModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="elminarModalLabel">Advertencia</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Tenga en cuenta que eliminar un evento es un proceso irreversible.
                            Escriba el nombre del evento  para poder continuar.
                        </p>

                        <input onkeyup="deleteEnable()"  type="text" class="form-control" id="evento_name">
                    </div>
                    <div class="modal-footer">
                        <form method="post"  >
                            {% csrf_token %}
                            <input type="hidden" id="idE" name="idE" value="0"/>
                            <button  type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button id="eliminar_herramienta_btn_modal" class="btn btn-danger2" type="submit"  id="boton_eliminar_herramienta" disabled="true">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 >Todos tus eventos</h3>
                                <h6> Selecciona un evento para ver el detalle</h6>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-success" href="{% url 'notas:evento_create' %}">Agregar evento </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {% for evento in eventos %}
                            <a onclick="mostrarDetalle('{{ evento.lugar }}','{{ evento.direccion }}','{{ evento.fecha_inicio.date.isoformat }}','{{ evento.fecha_terminacion.date.isoformat }}','{{ evento.tipo }}','{{ evento.categoria }}','{{ evento.nombre}}','{{ evento.id}}');"
                               class="list-group-item">
                                {{ evento.nombre }}
                            </a>
                            {% endfor %}
                            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 id="tituloDetalle" class="panel-title">Detalle</h3>
                            </div>
                            <div id="idOpciones" class="col-md-6" style="display: none;">
                                <a id="editarId" class="btn btn-success" >Editar</a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#elminarModal" >Elimiar</button>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td height="100"><strong>Ubicación </strong><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                                    <td id="tLugar" height="100" class="align-middle">Lugar: </td>
                                    <td id="tDireccion" height="100" class="align-middle">Dirección:  </td>
                                </tr>
                                <tr>
                                    <td height="100"><strong>Fechas </strong><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></td>
                                    <td id="tInicio" height="100" class="align-middle">Inicio: </td>
                                    <td id="tTerminacion" height="100" class="align-middle">Terminación:  </td>
                                </tr>
                                <tr>
                                    <td height="100"><strong>Detalles </strong><span class="glyphicon  glyphicon-list-alt" aria-hidden="true"></span></td>
                                    <td id="tCategoria" height="100" class="align-middle">Categoría: </td>
                                    <td id="tTipo" height="100" class="align-middle">Tipo:  </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        var seleccionado = 0;
        var seleccionadonombre = "°°°";
        function mostrarDetalle(lugarP,dire,ini,termi,tipo,cate,nombre,idE) {
            seleccionado = idE;
            seleccionadonombre = nombre;
            document.getElementById("tLugar").innerHTML = "Lugar: " + lugarP ;
            document.getElementById("tDireccion").innerHTML = "Dirección: " + dire;
            document.getElementById("tInicio").innerHTML = "Inicio: "+ini;
            document.getElementById("tTerminacion").innerHTML = "Terminación: "+termi;

            document.getElementById("tTipo").innerHTML = "Tipo: "+getTipo(tipo);
            document.getElementById("tCategoria").innerHTML = "Categoría: "+ getCategoria(cate);

            document.getElementById("tituloDetalle").innerHTML = nombre;
            document.getElementById("editarId").href = "/evento_update/"+seleccionado;
            document.getElementById("idOpciones").style.display = "block";
        }
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()

        });
        function deleteEnable() {
            console.log("asdf")
            console.log(seleccionadonombre)
            var name = $('#evento_name').val();
            if(seleccionadonombre===name.toString()){
                $('#eliminar_herramienta_btn_modal').removeClass("disabled");
                $('#eliminar_herramienta_btn_modal').prop('disabled', false);
                $('#idE').prop('value', seleccionado);
            }else{
                $('#eliminar_herramienta_btn_modal').addClass("disabled");
                $('#eliminar_herramienta_btn_modal').prop('disabled', true);
                $('#idE').prop('value', 0);
            }
        }

        function getCategoria(id){
            if(id==1){return "Conferencia"}
            else if(id==2){return "Seminario"}
            else if(id==3){return "Congreso"}
            else if(id==4){return "Curso"}
            else {
            return "Error";}
        }
        function getTipo(id){
            if(id===1)
            {return "Virtual"}
            else{
            return "Presencial";}
        }
    </script>
{% endblock %}